<div class="row">
<div class = "col-md-4"><h3 class="text-center taskDiv">TO DO</h3>
<%=render @to_do %>
</div>
<div class = "col-md-4"><h3 class="text-center taskDiv">DOING</h3>
<%=render @doing %>
</div>
<div class = "col-md-4"><h3 class="text-center taskDiv">DONE</h3>
<%=render @done %>
</div>
</div>
<br>
<%= link_to 'New Task', new_task_path %>
